<?xml version="1.0" encoding="utf-8"?>
<plugin version="php">
<id>DPlayer</id>
<name>DPlayer for Z-BlogPHP</name>
<url>https://github.com/fghrsh/DPlayer_for_Z-BlogPHP</url>
<note>DPlayer - 超级好看的HTML5弹幕视频播放器</note>
<description>https://www.fghrsh.net/post/57.html</description>
<path>main.php</path>
<include>include.php</include>
<level>1</level>
<author>
  <name>FGHRSH</name>
  <email>i@fghrsh.net</email>
  <url>https://www.fghrsh.net/</url>
</author>
<source>
  <name></name>
  <email></email>
  <url></url>
</source>
<adapted>140614</adapted>
<version>1.7</version>
<pubdate>2016-05-30</pubdate>
<modified>2017-03-30</modified>
<price>0</price>
<advanced>
  <dependency></dependency>
  <rewritefunctions></rewritefunctions>
  <conflict></conflict>
</advanced>
<sidebars>
  <sidebar1></sidebar1>
  <sidebar2></sidebar2>
  <sidebar3></sidebar3>
  <sidebar4></sidebar4>
  <sidebar5></sidebar5>
</sidebars>
</plugin>